@font-face { font-family: Neutra; src: url("../fonts/NeutraText-Bold.otf"); } 

* {
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
    height: 3000px; /*REMEMBER TO ERASE THIS*/
}

h1 {
    font-family: 'Neutra', sans-serif;
    font-size: 3.15em;
    letter-spacing: 1px;
    line-height: 0.8em;
}

header {
    height: 92vh;
    background-image: url("../images/background-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

#logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 30px;
}

.text-hero-area {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    visibility: hidden; /*Required to be like this for the animation plugin*/
}

#name {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#services {
    font-size: 1.8em;
    font-weight: lighter;
    color: #fff;
    text-align: center;
}

#nav {
    display: flex;
    width: 100%;
    background: #000;
    height: 8vh;
    align-items: center;
    text-align: center;
}

#nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#nav li a {
    color: #fff;
    font-size: 1.8em;
    font-weight: 500;
}

.fixed { 
    position: fixed;
    top: 0;
}

