@font-face { font-family: Neutra; src: url("../fonts/NeutraText-Bold.otf"); } 

* {
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #888;
}

h1 {
    font-family: 'Neutra', sans-serif;
    font-size: 3em;
    letter-spacing: 1px;
    line-height: 0.8em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

header {
    height: 92vh;
    background-image: url("../images/background-4b.jpg");
    background-color: #656660;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

#logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding: 30px;
}

.text-hero-area {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    visibility: hidden; /*Required to be like this for the animation plugin*/
}

#name {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#services {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}

nav {
    display: flex;
    width: 100%;
    background: #000;
    height: 8vh;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #333;
}

nav li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nav li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 15px 0;
}

nav li a:hover {
    color: #d3d3d3;
    transition: all 0.3s ease-in-out 0s;
}

nav li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #d3d3d3;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.fixed { 
    position: fixed;
    top: 0;
}

/**********************************
SECTION: ABOUT ME
***********************************/

.headline-2 {
    text-align: center;
    margin-top: 9vh;
}

.headline-2-after {
    margin-top: 17vh;
}

.profile {
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
}

.profile-image {
    border-radius: 50%;
    margin: 60px 0;
}

.stack-icon {
    height: 110px;
    margin: 30px 0;
}

.stack-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stack-name, .project-name, .contact h3, .next h3 {
    font-family: 'Montserrat', sans-serif;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
}

/**********************************
SECTION: WORK
***********************************/

.group:after {
    content: "";
    display: table;
    clear: both;
}

#projects {
  margin: 60px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#projects li {
  float: left;
  width: 100%;
  margin: 5% 0;
  background-color: #fff;
  border: 1px solid #efefef;
  color: #bdc3c7;
}

#projects li a p {
  margin: 0;
  padding: 5%;
}

/**********************************
SECTION: WHAT'S NEXT
***********************************/
.next {
    background-color: #939c9e;
    background: url("../images/building-2.jpg") no-repeat center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
}

.next h3 {
    color: #fff;
    font-size: 14px;
    padding: 0 0 30px 0;
}

.next p {
    color: #fff;
}

/**********************************
SECTION: CONTACT
***********************************/

.contact {
    background-color: #939c9e;
    background: url("../images/building.jpg") no-repeat center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
}

.contact h3 {
    color: #fff;
    font-size: 14px;
    padding: 0 0 30px 0;
}

.contact p {
    color: #fff;
    margin-bottom: 50px;
}

.btn {
    background: rgba(61, 201, 179, 0.5);
    border: solid 1px rgba(61, 201, 179, 0.5);
    padding: 20px 80px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

/**********************************
SECTION: FOOTER
***********************************/
 footer {
    width: 100%;
    text-align: center;
    background-color: #000;
 }

 footer p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px;
 }

