@media screen and (min-width: 375px) {
	h1 {
		font-size: 3.75em;
	}

	p {
		font-size: 16px;
	}

	#services {
		font-size: 20px;
	}

	.contact h3 {
		font-size: 16px;
	}

	.next h3 {
		font-size: 16px;
	}

	.info span {
    	font-size: 16px;
	}	
}

@media screen and (min-width: 660px) {

	h1 {
		font-size: 5.5em;
	}

	#services {
		font-size: 24px;
	}

/**********************************
SECTION: NAV BAR
***********************************/

	nav li {
		margin-left: 10px;
    	margin-right: 10px;
	}

	nav li a {
		font-size: 18px;
	}

		nav li a:hover {
	    color: #d3d3d3;
	    transition: all 0.3s ease-in-out 0s;
	}

	nav li a:before {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 1px;
	    bottom: 0px;
	    left: 0;
	    background-color: #d3d3d3;
	    visibility: hidden;
	    -webkit-transform: scaleX(0);
	    transform: scaleX(0);
	    -webkit-transition: all 0.3s ease-in-out 0s;
	    transition: all 0.3s ease-in-out 0s;
	}

	nav li a:hover:before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}

	.container {
		width: 80%;
	}

	.info {
		float: left;
		width: 50%;
	}

	.logo-contact {
		float: right;
	}

	.logo-contact img {
		width: 150px;
	}

	.stack-container {
		float: left;
		width: 50%;
	}


	#projects li:first-child {
		float: left;
		width: 47%;
		margin: 0% 1.5% 1.5% 0;
	}

	#projects li:nth-child(2) {
		float: right;
		width: 47%;
		margin: 0% 0 1.5% 1.5%;
	}

	#projects li:last-child {
		width: 100%;
	}

	#projects li:last-child a p {
  	margin: 0;
  	padding: 3%;
	}
}


@media screen and (min-width: 1000px) {

	.container {
		max-width: 1200px;
	}
	

	.next {
		height: 350px;
	}

	.stack-container {
		float: left;
		width: 20%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	#projects li:first-child, #projects li:nth-child(2), #projects li:last-child {
		width: 29%;
		margin: 0 2%;
		float: left;
	}


	#projects li:last-child a p {
  	margin: 0;
  	padding: 5%;
	}

	.contact {
		height: 350px;
	}

	.container-info-wide {
		max-width: 1000px;
	}
}