@media screen and (min-width: 375px) {
	h1 {
		font-size: 3.75em;
	}

	p {
		font-size: 16px;
	}

	#services {
		font-size: 20px;
	}

	.contact h3 {
		font-size: 16px;
	}

	.next h3 {
		font-size: 16px;
	}

	.info span {
    	font-size: 16px;
	}	
}

@media screen and (min-width: 660px) {

	.container {
		width: 75%;
	}
	.info {
		float: left;
		width: 50%;
	}

	.logo-contact {
		float: right;
	}

	.logo-contact img {
		width: 150px;
	}
}