@media screen and (min-width: 375px) {
	h1 {
		font-size: 3.75em;
	}

	p {
		font-size: 16px;
	}

	#services {
		font-size: 20px;
	}

	.contact h3 {
		font-size: 16px;
	}

	.next h3 {
		font-size: 16px;
	}

	.info span {
    	font-size: 16px;
	}	
}

@media screen and (min-width: 660px) {

	h1 {
		font-size: 5.5em;
	}

	#services {
		font-size: 24px;
	}

	nav li {
		margin-left: 10px;
    	margin-right: 10px;
	}

	nav li a {
		font-size: 18px;
	}

	.container {
		width: 80%;
	}
	.info {
		float: left;
		width: 50%;
	}

	.logo-contact {
		float: right;
	}

	.logo-contact img {
		width: 150px;
	}

	.stack-container {
		float: left;
		width: 50%;
	}


	#projects li:first-child {
		float: left;
		width: 47%;
		margin: 0% 1.5% 1.5% 0;
	}

	#projects li:nth-child(2) {
		float: right;
		width: 47%;
		margin: 0% 0 1.5% 1.5%;
	}

	#projects li:last-child {
		width: 100%;
	}

	#projects li:last-child a p {
  margin: 0;
  padding: 3%;
}
}